body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-43px;
  width:2252px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u787_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u787 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:20px;
  width:125px;
  height:64px;
  display:flex;
}
#u787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u788 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:422px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u789_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u789 {
  border-width:0px;
  position:absolute;
  left:1690px;
  top:160px;
  width:125px;
  height:64px;
  display:flex;
}
#u789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u790_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u790 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:160px;
  width:125px;
  height:64px;
  display:flex;
}
#u790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u791_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u791 {
  border-width:0px;
  position:absolute;
  left:675px;
  top:160px;
  width:125px;
  height:64px;
  display:flex;
}
#u791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:66px;
}
#u792 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:160px;
  width:125px;
  height:66px;
  display:flex;
}
#u792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u793 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:193px;
  width:0px;
  height:0px;
}
#u793_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u793_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-5px;
  width:10px;
  height:271px;
}
#u793_seg2 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:256px;
  width:103px;
  height:10px;
}
#u793_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:132px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u794 {
  border-width:0px;
  position:absolute;
  left:1278px;
  top:84px;
  width:0px;
  height:0px;
}
#u794_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:81px;
}
#u794_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u795 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:454px;
  width:0px;
  height:0px;
}
#u795_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:115px;
  height:10px;
}
#u795_seg1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-230px;
  width:10px;
  height:235px;
}
#u795_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-235px;
  width:20px;
  height:20px;
}
#u795_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-68px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u796 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:527px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u797 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:559px;
  width:0px;
  height:0px;
}
#u797_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:115px;
  height:10px;
}
#u797_seg1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-335px;
  width:10px;
  height:340px;
}
#u797_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-120px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u798 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:271px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u799 {
  border-width:0px;
  position:absolute;
  left:928px;
  top:303px;
  width:0px;
  height:0px;
}
#u799_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-5px;
  width:23px;
  height:10px;
}
#u799_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-79px;
  width:10px;
  height:84px;
}
#u799_seg2 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-84px;
  width:20px;
  height:20px;
}
#u799_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u800 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:497px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u801 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:193px;
  width:0px;
  height:0px;
}
#u801_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u801_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-5px;
  width:10px;
  height:376px;
}
#u801_seg2 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:361px;
  width:103px;
  height:10px;
}
#u801_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:184px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
}
#u802 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:607px;
  width:125px;
  height:64px;
  display:flex;
}
#u802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:66px;
}
#u803 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:391px;
  width:125px;
  height:66px;
  display:flex;
}
#u803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u804 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:497px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u805 {
  border-width:0px;
  position:absolute;
  left:1052px;
  top:424px;
  width:0px;
  height:0px;
}
#u805_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:52px;
  height:10px;
}
#u805_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-5px;
  width:10px;
  height:78px;
}
#u805_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:5px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u806 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:424px;
  width:0px;
  height:0px;
}
#u806_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:50px;
  height:10px;
}
#u806_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:10px;
  height:78px;
}
#u806_text {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u807 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:561px;
  width:0px;
  height:0px;
}
#u807_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u807_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u807_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u808 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:561px;
  width:0px;
  height:0px;
}
#u808_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:24px;
}
#u808_seg1 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:14px;
  width:154px;
  height:10px;
}
#u808_seg2 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-337px;
  width:10px;
  height:361px;
}
#u808_seg3 {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:-342px;
  width:20px;
  height:20px;
}
#u808_text {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-86px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u809 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:448px;
  width:65px;
  height:33px;
  display:flex;
}
#u809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u810 {
  border-width:0px;
  position:absolute;
  left:849px;
  top:448px;
  width:65px;
  height:33px;
  display:flex;
}
#u810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u811_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u811 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:41px;
  width:83px;
  height:32px;
  display:flex;
  color:#FFFFFF;
}
#u811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u812_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u812 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:41px;
  width:83px;
  height:32px;
  display:flex;
}
#u812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u813_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u813 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:13px;
  width:67px;
  height:20px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u813 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u813_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u814_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:273px;
  width:125px;
  height:64px;
  display:flex;
}
#u814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u815 {
  border-width:0px;
  position:absolute;
  left:708px;
  top:224px;
  width:0px;
  height:0px;
}
#u815_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:33px;
}
#u815_seg1 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:23px;
  width:88px;
  height:10px;
}
#u815_seg2 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:23px;
  width:10px;
  height:26px;
}
#u815_text {
  border-width:0px;
  position:absolute;
  left:-86px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u816 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:41px;
  width:89px;
  height:32px;
  display:flex;
  color:#0000FF;
}
#u816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u817_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u817 {
  border-width:0px;
  position:absolute;
  left:1518px;
  top:316px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u818 {
  border-width:0px;
  position:absolute;
  left:1340px;
  top:193px;
  width:0px;
  height:0px;
}
#u818_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:85px;
  height:10px;
}
#u818_seg1 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:-5px;
  width:10px;
  height:165px;
}
#u818_seg2 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:150px;
  width:103px;
  height:10px;
}
#u818_text {
  border-width:0px;
  position:absolute;
  left:30px;
  top:78px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u819 {
  border-width:0px;
  position:absolute;
  left:1643px;
  top:348px;
  width:0px;
  height:0px;
}
#u819_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:115px;
  height:10px;
}
#u819_seg1 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-124px;
  width:10px;
  height:129px;
}
#u819_seg2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-129px;
  width:20px;
  height:20px;
}
#u819_text {
  border-width:0px;
  position:absolute;
  left:60px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u820 {
  border-width:0px;
  position:absolute;
  left:1387px;
  top:248px;
  width:65px;
  height:33px;
  display:flex;
}
#u820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u821 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:193px;
  width:0px;
  height:0px;
}
#u821_seg0 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-5px;
  width:90px;
  height:10px;
}
#u821_seg1 {
  border-width:0px;
  position:absolute;
  left:-90px;
  top:-5px;
  width:10px;
  height:120px;
}
#u821_seg2 {
  border-width:0px;
  position:absolute;
  left:-162px;
  top:105px;
  width:82px;
  height:10px;
}
#u821_text {
  border-width:0px;
  position:absolute;
  left:-135px;
  top:43px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u822 {
  border-width:0px;
  position:absolute;
  left:1216px;
  top:193px;
  width:0px;
  height:0px;
}
#u822_seg0 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-5px;
  width:91px;
  height:10px;
}
#u822_seg1 {
  border-width:0px;
  position:absolute;
  left:-91px;
  top:-5px;
  width:10px;
  height:183px;
}
#u822_seg2 {
  border-width:0px;
  position:absolute;
  left:-231px;
  top:168px;
  width:150px;
  height:10px;
}
#u822_seg3 {
  border-width:0px;
  position:absolute;
  left:-231px;
  top:168px;
  width:10px;
  height:30px;
}
#u822_text {
  border-width:0px;
  position:absolute;
  left:-136px;
  top:118px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u823 {
  border-width:0px;
  position:absolute;
  left:1101px;
  top:248px;
  width:65px;
  height:33px;
  display:flex;
}
#u823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u824_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:160px;
  width:125px;
  height:64px;
  display:flex;
}
#u824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u825 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:160px;
  width:0px;
  height:0px;
}
#u825_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-43px;
  width:10px;
  height:43px;
}
#u825_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-43px;
  width:824px;
  height:10px;
}
#u825_seg2 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:-76px;
  width:10px;
  height:43px;
}
#u825_text {
  border-width:0px;
  position:absolute;
  left:357px;
  top:-46px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:66px;
}
#u826 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:271px;
  width:125px;
  height:66px;
  display:flex;
}
#u826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u827 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:490px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u828 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:337px;
  width:0px;
  height:0px;
}
#u828_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:158px;
}
#u828_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:68px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u829 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:224px;
  width:0px;
  height:0px;
}
#u829_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:52px;
}
#u829_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u830 {
  border-width:0px;
  position:absolute;
  left:431px;
  top:355px;
  width:65px;
  height:33px;
  display:flex;
}
#u830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u831 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:272px;
  width:125px;
  height:64px;
  display:flex;
}
#u831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:60px;
}
#u832 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:609px;
  width:125px;
  height:60px;
  display:flex;
}
#u832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  border-width:0px;
  position:absolute;
  left:173px;
  top:607px;
  width:125px;
  height:64px;
  display:flex;
}
#u833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:781px;
  width:125px;
  height:64px;
  display:flex;
}
#u834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u835 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:909px;
  width:125px;
  height:64px;
  display:flex;
}
#u835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u836 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:669px;
  width:0px;
  height:0px;
}
#u836_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:117px;
}
#u836_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:48px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u837 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:845px;
  width:0px;
  height:0px;
}
#u837_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:69px;
}
#u837_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:49px;
  width:20px;
  height:20px;
}
#u837_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:24px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u838 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:639px;
  width:0px;
  height:0px;
}
#u838_seg0 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-5px;
  width:108px;
  height:10px;
}
#u838_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u839 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:671px;
  width:0px;
  height:0px;
}
#u839_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:30px;
}
#u839_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:20px;
  width:238px;
  height:10px;
}
#u839_seg2 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:20px;
  width:10px;
  height:90px;
}
#u839_text {
  border-width:0px;
  position:absolute;
  left:94px;
  top:17px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u840_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:33px;
}
#u840 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:712px;
  width:85px;
  height:33px;
  display:flex;
}
#u840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u841 {
  border-width:0px;
  position:absolute;
  left:323px;
  top:623px;
  width:65px;
  height:33px;
  display:flex;
}
#u841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u842 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:554px;
  width:0px;
  height:0px;
}
#u842_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:60px;
}
#u842_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u843 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:304px;
  width:0px;
  height:0px;
}
#u843_seg0 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-5px;
  width:108px;
  height:10px;
}
#u843_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:33px;
}
#u844 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:288px;
  width:45px;
  height:33px;
  display:flex;
}
#u844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u845_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u845 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:160px;
  width:125px;
  height:64px;
  display:flex;
}
#u845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u846 {
  border-width:0px;
  position:absolute;
  left:1815px;
  top:192px;
  width:0px;
  height:0px;
}
#u846_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:259px;
  height:10px;
}
#u846_text {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:66px;
}
#u847 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:303px;
  width:125px;
  height:66px;
  display:flex;
}
#u847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u848_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  border-width:0px;
  position:absolute;
  left:1930px;
  top:453px;
  width:125px;
  height:64px;
  display:flex;
}
#u848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u849 {
  border-width:0px;
  position:absolute;
  left:2132px;
  top:224px;
  width:0px;
  height:0px;
}
#u849_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:84px;
}
#u849_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u850 {
  border-width:0px;
  position:absolute;
  left:2069px;
  top:336px;
  width:0px;
  height:0px;
}
#u850_seg0 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-5px;
  width:81px;
  height:10px;
}
#u850_seg1 {
  border-width:0px;
  position:absolute;
  left:-81px;
  top:-5px;
  width:10px;
  height:122px;
}
#u850_text {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:12px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u851 {
  border-width:0px;
  position:absolute;
  left:1960px;
  top:391px;
  width:65px;
  height:33px;
  display:flex;
}
#u851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u852_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  border-width:0px;
  position:absolute;
  left:2063px;
  top:712px;
  width:125px;
  height:64px;
  display:flex;
}
#u852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u853 {
  border-width:0px;
  position:absolute;
  left:2194px;
  top:336px;
  width:0px;
  height:0px;
}
#u853_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:71px;
  height:10px;
}
#u853_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-5px;
  width:10px;
  height:294px;
}
#u853_seg2 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:279px;
  width:144px;
  height:10px;
}
#u853_seg3 {
  border-width:0px;
  position:absolute;
  left:-73px;
  top:279px;
  width:10px;
  height:97px;
}
#u853_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:214px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u854 {
  border-width:0px;
  position:absolute;
  left:2230px;
  top:391px;
  width:65px;
  height:33px;
  display:flex;
}
#u854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u855 {
  border-width:0px;
  position:absolute;
  left:1993px;
  top:517px;
  width:0px;
  height:0px;
}
#u855_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:108px;
}
#u855_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:98px;
  width:143px;
  height:10px;
}
#u855_seg2 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:98px;
  width:10px;
  height:97px;
}
#u855_text {
  border-width:0px;
  position:absolute;
  left:11px;
  top:95px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
