body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-177px;
  width:1221px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:20px;
  width:125px;
  height:64px;
  display:flex;
}
#u370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:512px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:1273px;
  top:160px;
  width:125px;
  height:64px;
  display:flex;
}
#u372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:457px;
  top:160px;
  width:125px;
  height:64px;
  display:flex;
}
#u373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u374_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:160px;
  width:125px;
  height:64px;
  display:flex;
}
#u374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:66px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:160px;
  width:125px;
  height:66px;
  display:flex;
}
#u375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:193px;
  width:0px;
  height:0px;
}
#u376_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:105px;
  height:10px;
}
#u376_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-5px;
  width:10px;
  height:361px;
}
#u376_seg2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:346px;
  width:113px;
  height:10px;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:172px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:84px;
  width:0px;
  height:0px;
}
#u377_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:81px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:544px;
  width:0px;
  height:0px;
}
#u378_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u378_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-320px;
  width:10px;
  height:325px;
}
#u378_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-325px;
  width:20px;
  height:20px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-142px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:66px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:314px;
  width:125px;
  height:66px;
  display:flex;
}
#u379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:193px;
  width:0px;
  height:0px;
}
#u380_seg0 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-5px;
  width:75px;
  height:10px;
}
#u380_seg1 {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-5px;
  width:10px;
  height:126px;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:18px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:722px;
  top:248px;
  width:65px;
  height:33px;
  display:flex;
}
#u381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:1158px;
  top:617px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:1283px;
  top:649px;
  width:0px;
  height:0px;
}
#u383_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:58px;
  height:10px;
}
#u383_seg1 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:-425px;
  width:10px;
  height:430px;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-194px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:512px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:744px;
  width:125px;
  height:64px;
  display:flex;
}
#u385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:538px;
  top:544px;
  width:0px;
  height:0px;
}
#u386_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-5px;
  width:23px;
  height:10px;
}
#u386_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-320px;
  width:10px;
  height:325px;
}
#u386_seg2 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-325px;
  width:20px;
  height:20px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-159px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:722px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:512px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:347px;
  width:0px;
  height:0px;
}
#u389_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u389_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-5px;
  width:10px;
  height:207px;
}
#u389_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:192px;
  width:33px;
  height:10px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:98px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:617px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:950px;
  top:193px;
  width:0px;
  height:0px;
}
#u391_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:105px;
  height:10px;
}
#u391_seg1 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:-5px;
  width:10px;
  height:466px;
}
#u391_seg2 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:451px;
  width:113px;
  height:10px;
}
#u391_text {
  border-width:0px;
  position:absolute;
  left:50px;
  top:224px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:248px;
  width:65px;
  height:33px;
  display:flex;
}
#u392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:817px;
  top:347px;
  width:0px;
  height:0px;
}
#u393_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:10px;
}
#u393_seg1 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-5px;
  width:10px;
  height:312px;
}
#u393_seg2 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:297px;
  width:33px;
  height:10px;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:150px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:419px;
  width:65px;
  height:33px;
  display:flex;
}
#u394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:544px;
  width:0px;
  height:0px;
}
#u395_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u395_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-5px;
  width:10px;
  height:205px;
}
#u395_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:185px;
  width:20px;
  height:20px;
}
#u395_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:81px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:983px;
  top:649px;
  width:0px;
  height:0px;
}
#u396_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:27px;
  height:10px;
}
#u396_seg1 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:-5px;
  width:10px;
  height:100px;
}
#u396_seg2 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:80px;
  width:20px;
  height:20px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:692px;
  top:347px;
  width:0px;
  height:0px;
}
#u397_seg0 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-5px;
  width:20px;
  height:10px;
}
#u397_seg1 {
  border-width:0px;
  position:absolute;
  left:-20px;
  top:-5px;
  width:10px;
  height:207px;
}
#u397_seg2 {
  border-width:0px;
  position:absolute;
  left:-29px;
  top:192px;
  width:19px;
  height:10px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:-65px;
  top:90px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:689px;
  top:347px;
  width:0px;
  height:0px;
}
#u398_seg0 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-5px;
  width:17px;
  height:10px;
}
#u398_seg1 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:-5px;
  width:10px;
  height:269px;
}
#u398_seg2 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:254px;
  width:90px;
  height:10px;
}
#u398_seg3 {
  border-width:0px;
  position:absolute;
  left:-97px;
  top:254px;
  width:10px;
  height:15px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:-62px;
  top:160px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:832px;
  width:125px;
  height:64px;
  display:flex;
}
#u399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:419px;
  width:65px;
  height:33px;
  display:flex;
}
#u400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:66px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:616px;
  width:125px;
  height:66px;
  display:flex;
}
#u401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u402_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:722px;
  width:125px;
  height:64px;
  display:flex;
  color:#FFFFFF;
}
#u402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:662px;
  top:649px;
  width:0px;
  height:0px;
}
#u403_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:52px;
  height:10px;
}
#u403_seg1 {
  border-width:0px;
  position:absolute;
  left:42px;
  top:-5px;
  width:10px;
  height:78px;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:5px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:649px;
  width:0px;
  height:0px;
}
#u404_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:50px;
  height:10px;
}
#u404_seg1 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:10px;
  height:78px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:-95px;
  top:6px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:786px;
  width:0px;
  height:0px;
}
#u405_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u405_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:31px;
  width:20px;
  height:20px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:15px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:492px;
  top:786px;
  width:0px;
  height:0px;
}
#u406_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:48px;
}
#u406_seg1 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:38px;
  width:154px;
  height:10px;
}
#u406_seg2 {
  border-width:0px;
  position:absolute;
  left:-149px;
  top:-562px;
  width:10px;
  height:610px;
}
#u406_seg3 {
  border-width:0px;
  position:absolute;
  left:-154px;
  top:-567px;
  width:20px;
  height:20px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:-194px;
  top:-174px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:676px;
  top:673px;
  width:65px;
  height:33px;
  display:flex;
}
#u407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u407_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:33px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:459px;
  top:673px;
  width:65px;
  height:33px;
  display:flex;
}
#u408 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u408_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:41px;
  width:83px;
  height:32px;
  display:flex;
  color:#FFFFFF;
}
#u409 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u409_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:41px;
  width:83px;
  height:32px;
  display:flex;
}
#u410 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u410_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:13px;
  width:67px;
  height:20px;
  display:flex;
  font-family:'Arial Bold', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:17px;
}
#u411 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u411_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:283px;
  width:125px;
  height:64px;
  display:flex;
}
#u412 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:224px;
  width:0px;
  height:0px;
}
#u413_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:39px;
}
#u413_seg1 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:29px;
  width:88px;
  height:10px;
}
#u413_seg2 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:29px;
  width:10px;
  height:30px;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:-84px;
  top:26px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:32px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:475px;
  top:41px;
  width:89px;
  height:32px;
  display:flex;
  color:#0000FF;
}
#u414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
